@page "/signin"


<div class="container">
    <div class="Rika-logga">
        <h1>Rika</h1>
        <h1>Online Shopping</h1>
    </div>
    <div class="Welcome">
        <h1>Welcome</h1>
        <h6>Please log in or sign up to continue</h6>
    </div>
    
    <div class="signin-form">
        <EditForm FormName="signin" Model="SignInForm">

            <label> Email</label>
            <input type="email" placeholder="Email" />

            <label>Password</label>
            <input type="password" placeholder="******"/>

            <label>Remember me</label>
            <input type="checkbox" />

            <button>Login</button>

        </EditForm>
    </div>

    <div class="external-signin">
        <h5>or</h5>
        <button>Continue With Facebook</button>
        <button>Continue With Google</button>
        <button>Continue With Apple</button>
    </div>

</div>

@code {
    public class SignInModel 
    {
        public string Email { get; set; } = null!;

        public string Password { get; set; } = null!;

        public bool Rememberme { get; set; }

    }



    [SupplyParameterFromForm]
    public SignInModel SignInForm { get; set; } = new();
}
