.container .rika-logga {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}
.container .new-account-box {
  padding-bottom: 2rem;
  padding-top: 5rem;
}
.container .new-account-box .text {
  color: gray;
}
.container .form-box .signup-form {
  display: flex;
  flex-direction: column;
}
.container .form-box .signup-form label {
  font-weight: bold;
  padding-top: 1rem;
}
.container .form-box .signup-form input {
  border: none;
  border-bottom: 1px solid gray;
}
.container .form-box .signup-form .checkbox {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container .form-box .signup-form .checkbox label {
  padding-left: 1rem;
  padding-top: 0;
}
.container .form-box .signup-form .btn {
  background-color: black;
  color: white;
  align-self: flex-start;
  width: 300px;
}
.container .form-box .signup-form .btn:hover {
  background-color: white;
  border: 1px solid lightgray;
  color: black;
}
