
<div class="container">
    <div class="pagination-controls d-flex justify-content-center">
        <button @onclick="PreviousPage" class="btn btn-secondary mx-2" disabled="@(!HasPreviousPage)">
            Previous
        </button>
        <button @onclick="NextPage" class="btn btn-secondary mx-2" >
            Next
        </button>
    </div>  
</div>


@code {

    [Parameter]
    public EventCallback OnPreviousPage { get; set; }

    [Parameter]
    public EventCallback OnNextPage { get; set; }

    [Parameter]
    public bool HasPreviousPage { get; set; }

    [Parameter]
    public bool HasNextPage { get; set; }

    private async Task PreviousPage()
    {
        await OnPreviousPage.InvokeAsync(null);
    }

    private async Task NextPage()
    {
        await OnNextPage.InvokeAsync(null);
    }
}